# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# AWS SAM build artifacts
.aws-sam/
.cache/
*.zip

# Zappa artifacts
.zappa-*

# Editor & system files
.vscode/
.DS_Store

# Node modules (if ever added for frontend)
node_modules/

# Archive folder
archive/
